<ion-header>
  <ion-toolbar>
    <ion-title align="center">
      Manuel Hernández Mota
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-------------------------------------------------------------------------------------------------------------------------------------->

<ion-content align="center">
  <ion-grid>
    <ion-row>
      <ion-col style="background-color: #EAEAEA" size="6">
        <div style="font-weight: bold; color: #AF3232">
          Nombre
        </div>
      </ion-col>
      <ion-col style="background-color: #EAEAEA">
        <div style="font-weight: bold; color: #AF3232">
          Nacionalidad
        </div>
      </ion-col>
      <ion-col style="background-color: #EAEAEA">
        <div style="font-weight: bold; color: #AF3232">
          Foto
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div>
          Laura González Camacho
        </div>
      </ion-col>
      <ion-col>
        <div>
          mexicana
        </div>
      </ion-col>
      <ion-col>
        <img style="width: 100px" src="https://www.petdarling.com/articulos/wp-content/uploads/2015/06/perros-shih-tzu-1.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div>
          Isabella Jiménez Robles
        </div>
      </ion-col>
      <ion-col>
        <div>
          mexicana
        </div>
      </ion-col>
      <ion-col>
        <img style="width: 100px" src="https://www.bioenciclopedia.com/wp-content/uploads/2016/07/roble.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div>
          Ivana Carmona Limón
        </div>
      </ion-col>
      <ion-col>
        <div>
          mexicana
        </div>
      </ion-col>
      <ion-col>
        <img  style="width: 100px" src="http://www.spa-puntacana.com/wp-content/uploads/2016/03/news_photo_04.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>

  <h1>STACKED</h1>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm style="background-color:#FF3826">
        <div>
          1 of 4
        </div>
      </ion-col>
      <ion-col size="12" size-sm style="background-color:#801C13">
        <div>
          2 of 4
        </div>
      </ion-col>
      <ion-col size="12" size-sm style="background-color:#FF7E73">
        <div>
          3 of 4
        </div>
      </ion-col>
      <ion-col size="12" size-sm style="background-color:#CC2C1E">
        <div>
          4 of 4
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <h1>OFFSETTING</h1>

  <ion-grid>
    <ion-row>
      <ion-col size="3" style="background-color: #400E0A">
        <div>
          1 of 2
        </div>
      </ion-col>
      <ion-col size="3" offset="6" style="background-color: #E63322">
        <div>
          2 of 2
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h1> Push & Pull</h1> 

  <ion-grid>
    <ion-row>
      <ion-col size="9" push="3" style="background-color: #FF4538">
        <div>
          1 of 2
        </div>
      </ion-col>
      <ion-col size="3" pull="9" style="background-color: #80231C">
        <div>
          2 of 2
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

<!-------------------------------------------------------------------------------------------------------------------------------------->
<ion-footer>
  <ion-toolbar>
    <ion-title align="center">manuelhdzmota@outlook.com</ion-title>
  </ion-toolbar>
</ion-footer>